# Database Environment Context Bindings
DATABASE_URL="postgresql://neondb_owner:"   
DIRECT_URL="postgresql://neondb_owner:"  
 
# Execution Environments Matrix   
NODE_ENV=test   
PORT=3001   
JWT_SECRET='your_jwt_secret'
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_SECRET='your_refresh_jwt_secret'